.container {
    background-color: #2b2d2f;
}
/* .white-out {
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 50px;
    width: 100px;
} */

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
}

#pink-box {
    background-color: #ff69b4;
    /* position: fixed; */
    position: sticky;
    top: 60px;
}

#blue-box {
    background-color: #00eeee;
}
